.inline-block {
  display: inline-block;
}
.popper {
  transition: background 250ms ease-in-out;
  background: var(--popper-theme-background-color);
  padding: var(--popper-theme-padding);
  color: var(--popper-theme-text-color);
  border-radius: var(--popper-theme-border-radius);
  border-width: var(--popper-theme-border-width);
  border-style: var(--popper-theme-border-style);
  border-color: var(--popper-theme-border-color);
  box-shadow: var(--popper-theme-box-shadow);
  z-index: v-bind(zIndex);
}

.popper:hover,
.popper:hover > #arrow::before {
  background: var(--popper-theme-background-color-hover);
}

.inline-block {
  display: inline-block;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
