@import "../variables.scss";

.field_input__wrapper {
  .base_field__before {
    color: black;
  }
  .base_field__after {
    color: black;
  }
  position: relative;
  display: flex;
  align-items: center;
  background: white;
  width: fit-content;
  height: 100%;
  input {
    border: none;
    min-height: 20px;
    border-radius: $f-border-raduis;
    &:focus {
      border: none;
    }
  }
}
