.default-modal {
  .default-content {
    background: red;
    width: fit-content;
    width: 30%;
    height: 30%;
    position: absolute;
    z-index: 9999;
  }
  .modal-background-shadow {
    /* темный фон при открытии модалки должен быть на всю страницу */
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4); /* цвет фона - прозрачный черный */
  }
}
