@import "Ui/modal.scss";
@import "Ui/input.scss";
@import "Ui/date.scss";
@import "Ui/select.scss";
@import "Ui/input.scss";
@import "Ui/radio.scss";
@import "Ui/checkbox.scss";
@import "Ui/switch.scss";
@import "Ui/range.scss";

@import "Ui/bootstrap.scss";
@import "variables";
@import "mixins";
@import "functions";

@import "Ui/icon.scss";

@font-face {
  font-family: Ionicons;
  src: url("../fonts//icon/ionicons.woff2") format("woff2"),
    url("../fonts//icon/ionicons.woff") format("woff"),
    url("../fonts//icon//ionicons.ttf") format("truetype"),
    url("../fonts/icon/ionicons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
