// ===========BACKGROUND==========/
$primary: #eeeeee;
$secondary: #eeeeee;
$success: #eeeeee;
$danger: #eeeeee;
$warning: #eeeeee;
$info: #eeeeee;
$light: #eeeeee;
$dark: #eeeeee;

// ===========BACKGROUND==========/
